* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(174, 222, 252);
    text-align: center;
}


#container {
    height: 70vh;
    background-color: rgb(174, 222, 252);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#board {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    width: 18vmin;
    height: 18vmin;
    border: none;
    border-radius: 1rem;
    background-color: rgb(253, 237, 237);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: rgb(248, 117, 170);
    font-size: 2.5rem;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(35, 31, 31);
}
#btn-reset{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 1rem;
    background-color:rgb(248, 117, 170);
    color: rgb(253, 237, 237);
    cursor: pointer;
}
#message {
    margin-top: 20px;
    font-size: 1.5rem;
    color: rgb(248, 117, 170);
}